<div class="header-container" [class]="isHistory ? 'header-container-history' : hideNavbar ? 'header-container-detail' : ''">
  <div [class]="isHistory ? 'py-cotent-history' : 'py-content'">
    <div *ngIf="isHistory" class="btn-holder">
      <button class="back-button" >
        <img class="arrow" src="assets/img/arrow-right.png" alt="" (click)="moveToHome()">
      </button>
      <div class="text-history">Riwayat</div>
    </div>
    <div class="d-flex justify-content-between">
      <div isHistory class="d-flex search-section">
        <div class="">
          <img data-cy="header-logo" *ngIf="!isHistory" class="logo mr-item" src="assets/img/header-logo.png" alt="" srcset="" (click)="moveToHome()">
        </div>
          <input
             class="mr-item"
              data-cy="header-input-search"
                  type="text"
                  placeholder="Cari resep"
                  [formControl]="myControl"
                  (keyup)="keyup($event)">
          <div class="autocomplete-panel">
            <div data-cy="search-suggestion-container" id="autocomplete-box" class="autocomplete-box" [class]="!!myControl.value ? '' : 'box hidden'">
              <ul [attr.data-cy]="option.attr" *ngFor="let option of options; let i = index" (click)="setRecipe(option.id); goSearchRecipe(option.id)">
                {{option.name}}
              </ul>
            </div>
          </div>
        <div class="close-icon-holder">
          <div data-cy="header-button-clear" class="close-icon"><img *ngIf="!!myControl.value" src="assets/img/close-icon.png" alt="" (click)="clearInput()"></div>
        </div>
        <div class="">
          <button data-cy="header-button-search" (click)="goSearchRecipe()">Cari</button>
        </div>
      </div>
      <button data-cy="header-button-history" class="btn-history" >
        <img *ngIf="!isHistory" [hidden]="hideNavbar" class="history" src="assets/img/header-button-history.png" alt="" srcset="" (click)="moveToHistory()">
      </button>
    </div>
  
    <div [hidden]="hideNavbar" class="category">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item " *ngFor="let item of recipeCategory; let i = index">
              <a [attr.data-cy]="item.attr" class="nav-link " [class]="item['selected'] ? 'active' : ''" (click)="selectCategory(item['id'])">{{item['name']}}</a>
            </li>
            <li *ngIf="isHistory" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Semua Status
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item">Selesai Dimasak</a>
                <a class="dropdown-item">Dalam Progress</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </div>

</div>
