<div class="header-container" [class]="isHistory ? 'header-container-history' : hideNavbar ? 'header-container-detail' : ''">
  <div [class]="isHistory ? 'py-cotent-history' : 'py-content'">
    <div *ngIf="isHistory" class="btn-holder">
      <button class="back-button" (click)="moveToHome()">
        <img class="arrow" src="assets/img/arrow-right.png" alt="">
      </button>
      <div class="text-history">Riwayat</div>
    </div>
    <div class="d-flex justify-content-between">
      <div isHistory class="d-flex search-section">
        <img data-cy=”header-logo” *ngIf="!isHistory" class="logo mr-item" src="assets/img/header-logo.png" alt="" srcset="" (click)="moveToHome()">
        <form class="mr-item">
          <input  data-cy=”header-input-search”
                  type="text"
                  placeholder="Pick one"
                  aria-label="Number"
                  matInput
                  [formControl]="myControl"
                  [matAutocomplete]="auto"
                  (keyup)="keyup($event)">
          <mat-autocomplete data-cy="search-suggestion-container" #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="setRecipe(option.id)">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </form>
        <div *ngIf="!!myControl.value && recipeIsSet" class="close-icon-holder">
          <div data-cy="header-button-clear" class="close-icon"><img src="assets/img/close-icon.png" alt=""></div>
        </div>
        <button data-cy="header-button-search" type="submit" (click)="goSearchRecipe()">Cari</button>
      </div>
      <button data-cy="header-button-history" *ngIf="!isHistory" class="btn-history" type="button" (click)="moveToHistory()">
        <img [hidden]="hideNavbar" class="history" src="assets/img/header-button-history.png" alt="" srcset="">
      </button>
    </div>
  
    <div [hidden]="hideNavbar" class="category">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item " *ngFor="let item of recipeCategory; let i = index">
              <a [attr.data-cy]="item.attr" id="nav-index-{{i}}" class="nav-link " [class]="item['selected'] ? 'active' : ''" (click)="selectCategory(item['id'])">{{item['name']}}</a>
            </li>
            <!-- <li *ngIf="isHistory" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item">Selesai Dimasak</a>
                <a class="dropdown-item">Dalam Progress</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>

  </div>

</div>

<div class="body py-content">
  <div *ngIf="recipes.length > 0" class="filter">
    <div class="text mr-item">
      Urutkan:
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off" (click)="checkingFilter('new')">
      <label data-cy="button-sort-latest" class="btn btn-primary " [class]="!filterUrutkan[0]['selected'] ? 'btn-primary--unactive' : ''" for="btn-check-1">Terbaru</label>
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off" (click)="checkingFilter('asc')">
      <label data-cy="button-sort-az" class="btn btn-primary " [class]="!filterUrutkan[1]['selected'] ? 'btn-primary--unactive' : ''" for="btn-check-2">Urutkan A-Z</label>
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" (click)="checkingFilter('dsc')">
      <label data-cy="button-sort-za" class="btn btn-primary " [class]="!filterUrutkan[2]['selected'] ? 'btn-primary--unactive' : ''" for="btn-check-3">Urutkan Z-A</label>
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off" (click)="checkingFilter('most_like')">
      <label data-cy="button-sort-favorite" class="btn btn-primary " [class]="!filterUrutkan[3]['selected'] ? 'btn-primary--unactive' : ''" for="btn-check-4">Urutkan Dari Paling Disukai</label>
    </div>
  </div>

  <div *ngIf="recipes.length > 0" class="list-items">
    <div [attr.data-cy]="recipe.attr" id="{{recipe.attr}}" class="item" *ngFor="let recipe of recipes;" (click)="moveToDetail(recipe['id'])">
      <img [src]="recipe['image']" alt="">
      <div [attr.data-cy]="recipe.attr" class="item-text">
        <div class="h-100 d-flex flex-column justify-content-between">
          <div class="">
            <div class="text-header">{{recipe['name']}}</div>
            <div class="text-body">{{recipe['recipeCategory']['name']}}</div>

          </div>
          <div class="">
            <div class="rating">
              <div data-cy="list-item-like" class="oval green">
                <img src="assets/img/green-rating.png" alt="">
                <label for="">{{recipe['nReactionLike']}}</label>
              </div>
              <div data-cy="list-item-neutral" class="oval yellow">
                <img src="assets/img/yellow-rating.png" alt="">
                <label for="">{{recipe['nReactionNeutral']}}</label>
              </div>
              <div data-cy="list-item-dislike" class="oval red">
                <img src="assets/img/red-rating.png" alt="">
                <label for="">{{recipe['nReactionDislike']}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="recipes.length <= 0" class="list-empty">
    <img class="list-image-empty" src="assets/img/list-image-empty.png" alt="">
    <div class="text-empty">Oops! Resep tidak ditemukan.</div>
  </div>

</div>