<app-header></app-header>

<div class="body-recipe py-content">
  <div class="recipe-holder">
    <div class="recipe">
      <div class="btn-holder">
        <button data-cy="button-back" class="back-button" (click)="backtoHome()">
          <img class="arrow" src="assets/img/arrow-right.png" alt="">
        </button>
      </div>
      <img data-cy="detail-image" class="picture" [src]="recipe['image']" alt="">
      <div class="padding-header">
        <div data-cy="detail-tect-title" class="header">{{recipe['name']}}</div>
        <div class="rating">
          <div data-cy="detail-like" class="oval green">
            <img src="assets/img/green-rating.png" alt="">
            <label data-cy="detail-like-value" for="">{{recipe['nReactionLike']}}</label>
          </div>
          <div data-cy="detail-neutral" class="oval yellow">
            <img src="assets/img/yellow-rating.png" alt="">
            <label for="">{{recipe['nReactionNeutral']}}</label>
          </div>
          <div data-cy="detail-dislike" class="oval red">
            <img src="assets/img/red-rating.png" alt="">
            <label for="">{{recipe['nReactionDislike']}}</label>
          </div>
        </div>
      </div>
      <hr/>
      <div class="ingredient-holder">
        <div data-cy="detail-text-ingredients" class="ingredient">Bahan-bahan</div>
        <div data-cy="detail-text-recipe" class="list-ingredient" *ngFor="let ingredients of recipe['ingredientsPerServing']" >
          <div class="d-flex">
            <span class="bolder">{{ingredients['value'] + ' ' + ingredients['unit']}}</span>&nbsp;{{ingredients['item']}}</div>
        </div>
    
      </div>
    </div>
  </div>

  <div data-cy="form-portion" class="portion">
    <div data-cy="form-text-title-portion" class="text-portion">Jumlah porsi yang dimasak:</div>
    <div class="btn-portion-holder">
      <form action="">
        <button data-cy="form-button-decrease-portion" class="minus"><img src="assets/img/minus.png" alt="" (click)="countServing('minus')"></button>
        <div data-cy="form-input-portion">
          <input data-cy="form-value-portion" type="text" [value]="serving" (keyup)="keyup($event)">
        </div>
        <button data-cy="form-button-increase-portion" class="plus"><img src="assets/img/plus.png" alt="" (click)="countServing('plus')"></button>
      </form>
    </div>
    <div class="btn-start-holder">
      <button data-cy="form-button-submit-portion" class="btn-start" (click)="toStepPage()">Mulai Memasak</button>
    </div>
  </div>
</div>