<app-header></app-header>

<div class="body-history py-content-history">
  <div class="filter-history">
    <div class="text mr-item">
      Urutkan:
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
      <label class="btn btn-primary" for="btn-check-1">Terbaru</label>
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
      <label class="btn btn-primary btn-primary--unactive" for="btn-check-2">Terlama</label>
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
      <label class="btn btn-primary btn-primary--unactive" for="btn-check-3">Porsi Terbanyak</label>
    </div>
    <div class="mr-item">
      <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
      <label class="btn btn-primary btn-primary--unactive" for="btn-check-4">Porsi Tersedikit</label>
    </div>
  </div>

  <div class="list-items-history">
    <div class="list-items-holder">
      <div class="item-history">
        <div class="date-history">3 Feb 2022</div>
        <div class="history-information">
          <div class="img-text-holder">
            <img src="assets/img/list-item-image.png" alt="">
            <div class="item-text">
              <div class="text-header">Kue Brownies</div>
              <div class="text-body">CF35</div>
              <div class="text-body">Kue</div>
            </div>
          </div>
  
          <div class="portion">Porsi: <span class="bolder">5</span></div>
        </div>
      </div>
      <hr/>
      <div class="item-history">
        <div class="history-information">
          <div class="text-rating">Belum ada penilaian</div>
          <div class="text-progress">Selesa(100%)</div>
        </div>
      </div>
    </div> 

    <div class="list-items-holder">
      <div class="item-history">
        <div class="date-history">3 Feb 2022</div>
        <div class="history-information">
          <div class="img-text-holder">
            <img src="assets/img/list-item-image.png" alt="">
            <div class="item-text">
              <div class="text-header">Kue Brownies</div>
              <div class="text-body">CF35</div>
              <div class="text-body">Kue</div>
            </div>
          </div>
  
          <div class="portion">Porsi: <span class="bolder">5</span></div>
        </div>
      </div>
      <hr/>
      <div class="item-history">
        <div class="history-information">
          <div class="text-rating">Belum ada penilaian</div>
          <div class="text-progress">Selesa(100%)</div>
        </div>
      </div>
    </div> 

    <div class="list-items-holder">
      <div class="item-history">
        <div class="date-history">3 Feb 2022</div>
        <div class="history-information">
          <div class="img-text-holder">
            <img src="assets/img/list-item-image.png" alt="">
            <div class="item-text">
              <div class="text-header">Kue Brownies</div>
              <div class="text-body">CF35</div>
              <div class="text-body">Kue</div>
            </div>
          </div>
  
          <div class="portion">Porsi: <span class="bolder">5</span></div>
        </div>
      </div>
      <hr/>
      <div class="item-history">
        <div class="history-information">
          <div class="text-rating">Belum ada penilaian</div>
          <div class="text-progress">Selesa(100%)</div>
        </div>
      </div>
    </div> 


  </div>


</div>